.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-form {
    width: 450px; 
    /*  */
}

label {
    margin-bottom: 10px;
}

.ipt {
    width: 100%;
    padding: 15px;
    margin: 10px 0 15px 0;
    border: none;
    border-radius: 10px;
}

textarea {
    height: 98px;
    font-size: 13px;
}

.btn-delete-update {
    justify-content: center;
}

.btn-update {
    font-size: 17px;
}

@media only screen and (max-width: 504px) {
    #formulario {
        width: 420px;
    }

    @media only screen and (max-width: 460px) {
        #formulario {
            width: 380px;
        }
        @media only screen and (max-width: 415px) {
            #formulario {
                width: 300px;
            }
            @media only screen and (max-width: 345px){
                #formulario {
                    width: 280px;
                }

            }
        }
    }
}