/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


/* // <weight>: Use a value from 100 to 1000
// <uniquifier>: Use a unique and descriptive class name

.dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
:root {
    --fondo-general: #FAF3DD;
    --fondo-header-footer: #7B2E2E;
    --boton-principal: #D95D39;
    --tarjeta-fondo: #F5E1C0;
    --texto-oscuro: #2D2D2D;
    --borde-decorativo: #C9A66B;
    --btn-agregar-editar: #3E9C34;
    --btn-delete: #BD1919;
}

* {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*HEADER*/
header {
    background-color: var(--fondo-header-footer);
    color: white;
    padding: 25px 35px 25px 0;
    text-align: end;
    font-size: 22px;
}

/*SECTION*/
section {
    flex: 1;
    background-color: var(--fondo-general);
}

/*//-- DIV.ACTIONS input y botones --//*/
.actions { 
    background-color: #E0D9C3;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons-get-post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.btn {
    border-radius: 7px;
    border: none;
    padding: 17px;

    height: 70px;
    width: 100%;
    margin-right: 5px;
    color: white;
    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-get {
    background-color: var(--boton-principal);
    font-size: 17px;
}

.btn-post {
    background-color: var(--btn-agregar-editar);
}

.btn-get:hover {
    background-color: #b75337;
}

.btn-post:hover {
    background-color: #34772c;
}

/*//-- DIV.CARTELERA h2 y cards --//*/
.cartelera {
    padding: 50px;
    color: var(--texto-oscuro);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 50px;
    font-weight: 400;
    padding: 10px 50px;
}

.welcome {
    width: 100%;
    text-align: center;
}

.span-btn {
    font-weight: 900;
    color: black;
    font-size: 21px;
}
/* -- CARDS --*/
.cards {
    width: 800px;
    display: flex;
    justify-content: center;
    gap: 10px 60px;
    flex-wrap: wrap;
    padding: 50px 0;
}

.card-movie {
    background-color: var(--tarjeta-fondo);
    padding: 25px;
    margin-bottom: 60px;
    border-radius: 10px;

    width: 350px;
}

.card-movie img {
    width: 300px;
    height: 250px;
}

.title-movie {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.director-movie {
    margin-bottom: 5px;
}

span {
    font-weight: 900;
}

/*botones delete-update*/
.btn-delete-update {/*hacer que los botones queden abajo*/
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.btns {
    border: none;
    padding: 10px;
    width: 50%;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    color: white;
}

.btn-update {
    background-color: var(--btn-agregar-editar);
}

.btn-delete {
    background-color: var(--btn-delete);
}

.btn-update:hover {
    background-color: #34772c;
}

.btn-delete:hover {
    background-color: #861515;
}

/*FOOTER*/
footer {
    background-color: var(--fondo-header-footer);
    text-align: center;
    color: white;
}

footer p:first-child {
    margin-top: 35px;
}

footer p {
    margin-top: 10px;
}

.logo-fem-coders {
    height: 50px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1242px) {
    /*//-- DIV.ACTIONS --//*/
    input {
        width: 55%;
    }

    @media only screen and (max-width: 1073px) {
        input {
            width: 50%;
        }
    }
    @media only screen and (max-width: 894px) {
        header {
            font-size: 20px;
        }

        .card-movie {
            width: 330px;
        }

        .card-movie h3{
            font-size: 25px;
        }
        @media only screen and (max-width: 868px){
            .btn-post {
                text-align: center;
            }

            @media only screen and (max-width: 800px) {
                header {
                    font-size: 18px;
                }

                h2 {
                    font-size: 35px;
                }

                .btn {
                    font-size: 15px;
                }

                .cards {
                    margin: 0 50px;
                }

            
                @media only screen and (max-width: 781px) {
                    .btn {
                        font-size: 12px;
                    }
            
                    .cards {
                        width: auto;
                        flex-wrap: wrap;
                    }
                    @media only screen and (max-width: 731px){
                        input {
                            width: 100%;
                        }
                        .btn {
                            width: 100%;
                            margin-top: 10px;
                        }

                        @media only screen and (max-width: 647px){
                            h2 {
                                padding: 10px 0;
                            }
                        }/*642px*/

                        @media only screen and (max-width: 633px){
                            .actions {
                                justify-content: center;
                                align-items: center;
                            }
                            .buttons-get-post {
                                display: block;
                                width: 100%;
                            }

                            .btn {
                                height: 50px;
                            }

                            @media only screen and (max-width: 391px) {
                                header{
                                    font-size: 16px;
                                }
                                h2 {
                                    font-size: 28px;
                                }

                                .card-movie {
                                    width: 300px;
                                }

                                footer {
                                    padding: 0 20px;
                                }

                                @media only screen and (max-width: 361px) {
                                    h2 {
                                        font-size: 25px;
                                    }

                                    @media only screen and (max-width: 345px){
                                        h2 {
                                            font-size: 20px;

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            
            }
        }
    }


}
